<!--Header-->
<header class="nav-container">
  <a href="{{ site.baseurl }}/index.html" id="nav-logo">
    <img src="{{ site.baseurl }}/images/tst-logo-cropped.png">
  </a>    
  <div id="toggle-btn"><i class="fas fa-bars"></i></div>
  <a class="nav-link" href="#">About Us</a>
  <a class="nav-link" href="#">Magazine</a>    
  <a class="nav-link" href="{{ site.baseurl }}/blog.html">Blog</a>  
  <a class="nav-link" href="#">Events</a>  
  <a class="nav-link" href="#">Programs</a>  
  <a class="nav-link" href="{{ site.baseurl }}/join-us.html">Join Us</a>                   
</header>